{% load allauth %}
<p>
    <label for="{{ attrs.id }}">
        {% slot label %}
        {% endslot %}
    </label>
    <input {% if attrs.required %}required{% endif %}
           {% if attrs.disabled %}disabled{% endif %}
           {% if attrs.checked %}checked{% endif %}
           {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
           {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
           {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
           value="{{ attrs.value|default_if_none:"" }}"
           type="{{ attrs.type }}">
    {% if attrs.help_text %}<span class="helptext">{{ attrs.help_text }}</span>{% endif %}
</p>
