[run]
include = allauth*
branch = True
omit =
    *migrations*
    *test*
    *__init__*
    *settings*
    docs/*
    setup.py

[report]
omit =
    */migrations/*
    *__init__*
    *test*
    docs/*
    setup.py