*.pyc
*~
.idea
.project
.pydevproject
*.geany
docs/_build
build
dist
*.egg*
example/local_settings.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml

.ropeproject/*
pep8.txt
*.bak
.#*
\#*
*.db
*.tmp
virtualenv
.DS_Store

*.prefs
*.mo
/.stfolder
