django>=1.4.3
# There is no OpenID lib that support both Python 2 and 3 from a single-source base.
# So we have to choose between:
# python-openid>=2.2.5
# python3-openid>=3.0.1
python-openid>=2.2.5
requests>=1.0.3
requests-oauthlib>=0.3.0
