{% extends "mfa/webauthn/base.html" %}
{% load i18n %}
{% load static %}
{% load allauth %}
{% block content %}
    {% element h1 %}
        {% trans "Security Keys and Devices" %}
    {% endelement %}
    {% if authenticators|length == 0 %}
        <p>{% blocktranslate %}You have not added any security keys/devices.{% endblocktranslate %}</p>
    {% else %}
        {% element table %}
            {% element thead %}
                {% element th %}
                    Device
                {% endelement %}
                {% element th %}
                    Last used
                {% endelement %}
                {% element th %}
                    Passkey
                {% endelement %}
                {% element th %}
                {% endelement %}
            {% endelement %}
            {% element tbody %}
                {% for authenticator in authenticators %}
                    {% element tr %}
                        {% element td %}
                            {{ authenticator }}
                        {% endelement %}
                        {% element td %}
                            {{ authenticator.last_used_at|default_if_none:_("Unused") }}
                        {% endelement %}
                        {% element td %}
                            {{ authenticator.wrap.is_passwordless }}
                        {% endelement %}
                        {% element td %}
                            {% url 'mfa_remove_webauthn' pk=authenticator.pk as remove_url %}
                            {% element button tags="danger,delete,tool" href=remove_url %}
                                {% translate "Remove" %}
                            {% endelement %}
                        {% endelement %}
                    {% endelement %}
                {% endfor %}
            {% endelement %}
        {% endelement %}
    {% endif %}
    {% url 'mfa_add_webauthn' as add_url %}
    {% element button href=add_url %}
        {% translate "Add" %}
    {% endelement %}
</li>
</ul>
{% endblock %}
