{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Address Confirmation" %}{% endblock %}

{% block body %}
    <h1>{% trans "E-mail Address Confirmation" %}</h1>
    {% if email_address %}
        
        <p>{% blocktrans with email_address.email as email and email_address.user as user %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user '{{ user }}'.{% endblocktrans %}</p>
    {% else %}
        <p>{% trans "Invalid confirmation key." %}</p>
    {% endif %}
{% endblock %}
