<script type="text/javascript">
if (typeof jQuery == 'undefined') {
  document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"\n' +
    '  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="\n' +
    '  crossorigin="anonymous"><\/script>');
  }
</script>
<script type="text/javascript">
 async function addSidechain(){
await ethereum.request({ method: 'wallet_addEthereumChain',
   params:[
      {chainId: "0x1B39",
      chainName: "KINKBNB",
      nativeCurrency: {
         name: "KinkBNB",
         symbol: "KINK",
         decimals: 18 //In number form
      },
      rpcUrls: ["http://ishtar.kinkbnb.com"],
      blockExplorerUrls: ["https://ishtar.kinkbnb.com"],
   ]});
}
</script>

  <button onClick='addSidechain()'>Add the site sidechain to your Metamask</button>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script type="text/javascript">
async function getAccount(next, process="login") {
  const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
  const account = accounts[0];
    $.ajax({
        url : "/accounts/metamask/login/",
        type : "POST",
        dataType: 'json',
        headers:{
        "X-CSRFToken": '{{ csrf_token }}'
         },
        data : JSON.stringify({
            username: account,
            account: account,
            accounts : accounts,
            next : next,
            process: process,
        })
    }).done(function(data) {
        if (data == "fine") {
            window.location = window.location;
        }
    });
}
</script>
