{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Language" %}{% endblock %}

{% block body %}
    <h1>{% trans "Language" %}</h1>
    
    <p>{% trans "Pinax can be used in your preferred language." %}</p>
    
    <form method="POST" action="" class="uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" value="{% trans "Change my language" %}" />
            </div>
        </fieldset>
    </form>
{% endblock %}
