{% extends "account/base_manage.html" %}
{% load allauth %}
{% load i18n %}
{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Confirm Access" %}
    {% endelement %}
    <p>
        {% blocktranslate %}To safeguard the security of your account, please enter your password:{% endblocktranslate %}
    </p>
    {% url 'account_reauthenticate' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Confirm" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
