{% extends "allauth/layouts/base.html" %}
{% load allauth %}
{% block body %}
    <div class="flex-grow-1 d-flex flex-row">
        <aside class="col-md-2 text-bg-dark ">
            <ul class="p-3 nav nav-pills flex-column">
                {% url 'account_email' as email_url %}
                {% if email_url %}
                    <li class="nav-item">
                        <a class="{% block nav_class_email %}nav-link text-white{% endblock %}"
                           href="{% url 'account_email' %}">Change Email</a>
                    </li>
                {% endif %}
                {% url 'account_change_password' as change_password_url %}
                {% if change_password_url %}
                    <li class="nav-item">
                        <a class="{% block nav_class_password %}nav-link text-white{% endblock %}"
                           href="{% url 'account_change_password' %}">Change Password</a>
                    </li>
                {% endif %}
                {% url 'socialaccount_connections' as connections_url %}
                {% if connections_url %}
                    <li class="nav-item">
                        <a class="{% block nav_class_socialaccount %}nav-link text-white{% endblock %}"
                           href="{{ connections_url }}">Third-Party Accounts</a>
                    </li>
                {% endif %}
                {% url 'mfa_index' as mfa_index_url %}
                {% if mfa_index_url %}
                    <li class="nav-item">
                        <a class="{% block nav_class_mfa %}nav-link text-white{% endblock %}"
                           href="{{ mfa_index_url }}">Two-Factor Authentication</a>
                    </li>
                {% endif %}
                {% url 'usersessions_list' as usersessions_list_url %}
                {% if usersessions_list_url %}
                    <li class="nav-item">
                        <a class="{% block nav_class_usersessions %}nav-link text-white{% endblock %}"
                           href="{{ usersessions_list_url }}">Sessions</a>
                    </li>
                {% endif %}
            </ul>
        </aside>
        <main class="col-md-10">
            <div class="container">
                {% if messages %}
                    <div class="pt-4">
                        {% for message in messages %}
                            {% element alert level=message.tags %}
                                {% slot message %}
                                    {{ message }}
                                {% endslot %}
                            {% endelement %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
