{% load allauth %}
{% comment %} djlint:off {% endcomment %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.type %}type="{{ attrs.type }}"{% endif %}
class="
{% block class %}
    btn
    {% if "large" in attrs.tags %}btn-lg{% endif %}
    {% if "small" in attrs.tags %}btn-sm{% endif %}
{% if "danger" in attrs.tags %}btn-danger
{% elif "secondary" in attrs.tags %}btn-secondary %}
{% elif "warning" in attrs.tags %}btn-warning %}
{% else %}btn-primary
{% endif %}
{% endblock %}
">
{% slot %}
{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
